In [ ]:
LIST
It is ordered
Mutable (items can be updated, add and remove)

In [1]:
#define a list
list_name=[]

In [3]:
#Set List
list_name=['test',10,2.5,True]
list_name

['test', 10, 2.5, True]

In [8]:
#Indexing a list (extracting single item from the list)
'''Positive indexing 0,1(from First)
   Negative indexing -1,-2 (from Last )
'''
a=list_name[1]
b=list_name[-1]
print(a)
print(b)

10
True

In [9]:
#Range of index
'''It will consider first limit that is 0 but exclude last limit that 3. It will consider items from o th index to 2nd index'''
list_name[0:3]

['test', 10, 2.5]

In [16]:
#slicing the list
'''In- order to access the range of elements we need to slice a list.List slicing returns a new list from the existing list
synatx= [start: end: indexjump]
'''
#list_name[0:3]
#list_name[0:3:2]
#list_name[:-2]
'''If some slicing expressions are made that do not make sense or are incomputable then empty lists are generated.'''
list_name[0:3:-2]

[]

In [21]:
#Membership Operators
'''to check if particular element is present in list or not'''

'test' in list_name

'ravan' not in list_name

True

In [18]:
Adding to List
#adding a single element => append() : add at the end of the list
#adding multiple elements => extend() : add list into a list(helps to add more that one element in existing list in one go )

True

In [22]:
list_name.append('tejal')

In [25]:
list_name

['test', 10, 2.5, True, 'tejal', 11, 12, 13]

In [24]:
list_name.extend([11,12,13])

In [ ]:
#delete
'''delete by index =>del
   delete by element => remove'''

In [26]:
del list_name[5]

In [27]:
list_name

['test', 10, 2.5, True, 'tejal', 12, 13]

In [28]:
list_name.remove(2.5)
list_name

['test', 10, True, 'tejal', 12, 13]

In [ ]:
#pre-defined methods of list
'''
 1.len
 2. reverse
 3.sort => not supports for different data types in list. only same data type elements in list can be sorted .
 
'''

In [43]:
list1=[10,100,30,70,50]
len(list1)
#list1.reverse()
#list1
list1.sort()
#sorted(list1)
#list1

In [ ]:
Tuple
It is orderedand immutable (can't update / edit or add and delete delete tuple item)
Faster than list

In [1]:
tup1=('test',11,True)
print(type(tup1))

<class 'tuple'>

In [2]:
#accessing tuple by index num
tup1[0]

'test'

In [22]:
#nested tuple
tup1=(1,2,3,3,(11,11,22,33),(777,888,666))
tup1

(1, 2, 3, 3, (11, 11, 22, 33), (777, 888, 666))

In [5]:
tup1[3]

(11, 22, 33)

In [8]:
#access tuple inside tuple elements
tup1[3][2:4]

(33,)

In [23]:
#find index of any element
#tup1.index(3)
#find count of any element
tup1.count(1)

#iterate from tuple 
'''for a in tup1:
    print(a)'''
#slicing in tuple
tup1[1:4]
#count method on slice
tup1[1:4].count(3)
#index method on slice
tup1[1:4].index(3)

1

In [ ]:
Dictionary
#unordered list
#elements of dictionary can only be access by using key not index
#Every key must be unique
dic= {'key': value}
#dictionary key can be anything(string,int,float,boolean)

In [27]:
student_dict= {
    'name':['Tejal','Tanmayi','Anna'],
    'City':['Pune','Banglore','Kolkata'],
    
    
}
student_dict

{'name': ['Tejal', 'Tanmayi', 'Anna'], 'City': ['Pune', 'Banglore', 'Kolkata']}

In [29]:
#accessing dict element can be possible by key
#student_dict['name']
student_dict['name'][1:2]

['Tanmayi']

In [31]:
#get all the keys in dictionary
student_dict.keys()

dict_keys(['name', 'City'])

In [47]:
#adding new key and  elements into the key
#dictname['key_name']=['values to update']
student_dict['age']=[20,23,25]
student_dict


#updating values from existing key value

student_dict['name']=['james','alfredo']
student_dict

#adding multiple keys and values in dictionary
student_dict.update({'marks':[100,100,80],'remark':['Pass','distiction','fail']})
student_dict

#deleting elements form list

del student_dict['age']
student_dict


#updating dict with dicts
student_dict.update({'pincode':411037,'Country':'India'})
student_dict

#updating dict with list tuple

student_dict.update([('status','approved')])
student_dict


#iterating dict using key value pair

for key,value in student_dict.items():
    print(key,value)
    
#sorting dictionary based on keys
sorted(student_dict.items())

#sorting dict based on values will require lambda expression

name ['james', 'alfredo']
City ['Pune', 'Banglore', 'Kolkata']
marks [100, 100, 80]
remark ['Pass', 'distiction', 'fail']
pincode 411037
Country India
status approved

[('City', ['Pune', 'Banglore', 'Kolkata']),
 ('Country', 'India'),
 ('marks', [100, 100, 80]),
 ('name', ['james', 'alfredo']),
 ('pincode', 411037),
 ('remark', ['Pass', 'distiction', 'fail']),
 ('status', 'approved')]

In [ ]:
#Sets
Unordered list
mutable(can add update  or delete elements )
no duplicates only unique

In [1]:
#define a set using list
list_1= ['A','B',10,'B','A']
set_= set(list_1)
print(set_)
#it will remove duplicate values i.e 'B' and 'A' and print below output

{10, 'B', 'A'}

In [13]:
#ading value to set
set_.add(0)
print(set_)
#set sorts element by order

{0, 'A', 20, 'C', 'B'}

In [7]:
set_.add('C')

In [12]:
#removing elements from the set
#discard: if elememt not in set ,it will not show an error 
#remove: if elements not in set , it will show an error

set_.discard(30)
set_.remove(10)

In [23]:
#set operations
set_1={1,2,3,'A','C'}
set_2={3,'B'}

#set difference
set_1.difference(set_2)

#if we want to update set_1 by it's difference
set_1.difference_update(set_2)

#set intersection
set_1.intersection_update(set_2)
set_1

set()